*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    margin: 0 auto;
    font-size: 13px;
    background: #111;
    min-width: 1060px;
}
.container{
    width: 1060px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
.pd-5{
    padding: 5px;
}
.pd-10{
    padding: 10px;
}


#header{
    height: 50px;
    background: #d83333;
}
#logo-wrapper{
    float: left;
}
#logo-wrapper a img{
    border: 0;
    display: block;
}
#auth-wrapper{
	position: relative;
    float: right;
    padding-top: 15px;
}
#auth-wrapper a{
    cursor: pointer;
    background: #e74747;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    border: 2px solid #b72121;
	margin-left: 5px;
}
#auth-wrapper a.signup{
	background: #fff;
	color: #333;
}
#content{
    background: #fff;
}
#footer{
    text-align: center;
    color: #555;
    padding-top: 10px;
}
#footer a{
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    color: #999;
}