#headline{
    background: url("/images/headline.png") no-repeat #0e0b09 center top;
    height: 200px;
}
#headline h2{
    padding-top: 30px;
    font-size: 27px;
    margin:0;
    font-weight: normal;
    color: #fff;
}
#headline h3{
    color: #999;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 20px;
}
#tasteform{
    width: 85%;
    padding: 0;
    margin: 0 auto;
}
#tasteform-field-box{
    width: 87%;
    background: #fff;
    float: left;
    /*box-shadow: 0px 0px 20px #777;*/
}
#tasteform-field{
    width: 100%;
    height: 25px;
    padding: 0;
    border: 0;
}
#tasteform-field:focus{
    outline: 0;
}
#tasteform-button{
    width: 13%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 35px;
    background: #d83333;
    color: #fff;
    border: 0;
    display: block;
    float: left;
    cursor: pointer;
    /*box-shadow: 0px 0px 20px #777;*/
}
.autocomplete-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #fff;
    position: relative;
    width: 87%;
    box-shadow: 0px 2px 3px #555;
}
.autocomplete-list li{
    list-style-type: none;
}
.autocomplete-list li:hover{
    background: #eee;
    cursor: pointer;
}